html {
  font-size: 10px;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #0b283c;
  text-shadow: 3px 3px 2px black;
}

p,
li {
  font-size: 20px;
  color: black;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #0b283c;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #3e7ca8;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}
